## dataclasses will be included in python3.7 as soon as Jupyter supports it
dataclasses 
awscli==1.16.93
pytest==4.1.1
python-coveralls==2.9.1
Click==7.0
boto3==1.9.83
docker==3.7.0
GitPython==2.1.11
#TODO as soon as master is merged move this to a pinned version 2018-01-23
git+git://github.com/IntegriChain1/moto
##moto==1.3.6
sqlalchemy==1.3.5
psycopg2==2.7.6.1
alembic==1.0.6
papermill==0.17.1
jupyter==1.0.0
jupyterlab==0.35.4
mysql-connector==2.2.9

###TEST RESOURCES
s3parq==2.1.3
dfmock==0.0.14
paramiko
flask==1.0.2
requests==2.21
pytest-mock==1.10.4